<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzfLt1HXTOqn0Sv7Cby_s0STDwzZmQY24</string>
	<key>GCM_SENDER_ID</key>
	<string>603942844451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maysu.app-maysu</string>
	<key>PROJECT_ID</key>
	<string>maysuios</string>
	<key>STORAGE_BUCKET</key>
	<string>maysuios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603942844451:ios:3d055bf2b2e5678fa6d996</string>
</dict>
</plist>